/* DIY Dog Search tool using Punk API - Michael McGrorty 6/11/18 */

body {
    margin: 5%;
    text-align: center;
    font-family: 'Rubik', 'sans-serif';
    background-color: rgba(255, 255, 255, 0.7);
}

img {
    width: 62.5px;
    height: 250px;
    animation-duration: 4s;
    animation-name: spinner;
    animation-iteration-count: infinite;
}

button {
    margin: 5px;
    border: none;
    padding: 10px;
    font-family: inherit;
    font-size: 1.25em;
}

select {
    font-family: inherit;
    padding: 5px;
}

input {
    font-family: inherit;
    padding: 5px;
}

input:focus {
    border: 2px solid blue;
}

@keyframes spinner {
    from {
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
    }
    to {
      -moz-transform: rotateY(-360deg);
      -ms-transform: rotateY(-360deg);
      transform: rotateY(-360deg);
    }
  }

  li {
    list-style-type: none;
    margin: 5px;
  }

  .hidden {
      display: none;
  }